@import 'size';
@import 'compass/css3';
@import 'Retina-sprites-for-Compass/src/retina-sprites';
@import 'Retina-sprites-for-Compass/src/retina-background-image';

@function rem-to-pixel($rem) {
  @return $rem * $body-font-size-pixel;
}

@mixin hide-text {
  text-indent: -9999px;
}

@mixin pseudo-element {
  content: '';
  display: block;
}
