!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta{:content => "IE=edge,chrome=1",
          :"http-equiv" => "X-UA-Compatible"}
    %title= current_page.data.title + " - One Man Crew"
    = stylesheet_link_tag "application"
  %body
    = yield
    = javascript_include_tag "application"
