---
title: 'Bass Brushing Technique'
thumb: 'works/bass_brushing_technique/thumb.jpg'
ordinal: 200
date: 2015-01-06 07:13 UTC
tags:
  - Craft
  - Video
---
%h1
  Bass Brushing Technique
%p.video-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :src => "http://player.youku.com/embed/XNDUyMzU1ODI0",
          :title => "Youku video player"}
%p
  Do you really know how to brush your teeth? If you didn't learn as an adult, you're probably not doing it right. By shaping the teeth model with clay, demonstrating by a squirrel puppet and a mandrill doll (which was made by ourselves), We made this video to show the Bass Brushing Technique.
%p.image-container
  = image_tag 'works/bass_brushing_technique/01.jpg'
%h2
  Making Processing
%p.image-container
  = image_tag 'works/bass_brushing_technique/02.jpg'
%p.image-container
  = image_tag 'works/bass_brushing_technique/03.jpg'
%p.image-container
  = image_tag 'works/bass_brushing_technique/04.jpg'
