---
title: 'Can a Lightbulb in the Mouth be Taken Out'
thumb: 'works/can_a_lightbulb_in_the_mouth_be_taken_out/thumb.jpg'
date: 2015-01-06 08:44 UTC
ordinal: 700
tags:
  - Video
---
%h1
  Can a Lightbulb in the Mouth be Taken Out
%p.video-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :src => "http://www.youtube.com/embed/mC87OBAg8qk",
          :title => "YouTube video player"}
%p
  “You can’t put a light bulb in your mouth” is an old urban legend. Copying Mythbusters won’t do, I designed, directed and shoot a short piece, showing a series of experiments and all the precautions we did. Our actor – who is a fellow editor - is known as the “bulb man” on Chinese internet ever since then.
