---
title: 'Dengue Fever'
thumb: 'works/dengue_fever/thumb.jpg'
date: 2015-01-06 09:06 UTC
ordinal: 1400
tags:
  - Infographic
---
%h1
  The Break out of Dengue Fever in Guangdong China 2014
%p.image-container
  = image_tag 'works/dengue_fever/01.jpg'
