---
title: 'Godzillas'
thumb: 'works/godzillas/thumb.jpg'
date: 2015-01-06 09:01 UTC
ordinal: 1100
tags:
  - Infographic
---
%h1
  Godzillas' Heights Compared to Other Sci-fi Movie Characters
%p.image-container
  = image_tag 'works/godzillas/01.jpg'
%p
  As the highest Godzilla character had be shown on screen in the movie Godzilla(2014),I designed this infographic about Godzillas‘ Heights Comparing to Other Sci-fi Movie Characters.
