---
title: 'Happy Guokr Friends - The Missing Marshmallow'
thumb: 'works/happy_guokr_friends/thumb.gif'
ordinal: 198
date: 2015-01-06 07:13 UTC
tags:
  - Craft
  - Video
---
%h1
  Happy Guokr Friends - The Missing Marshmallow
%p.video-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :src => "http://player.youku.com/embed/XMTI0ODUyNzQ2MA==",
          :title => "Youku video player"}
%p.image-container
  = image_tag 'works/happy_guokr_friends/01.jpg'

%p.image-container
  = image_tag 'works/happy_guokr_friends/02.jpg'

%p.image-container
  = image_tag 'works/happy_guokr_friends/03.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/05.png'
%p
  Authorized by The Quantum Blocks Design Group @ Guokr.com
