---
title: 'Interactive Minesweeper'
thumb: 'works/interactive_minesweeper/thumb.jpg'
date: 2015-01-06 08:34 UTC
ordinal: 500
tags:
  - Craft
  - Post card
---
%h1
  Interactive Minesweeper
%p.image-container
  = image_tag 'works/interactive_minesweeper/01.png'
%p.image-container
  = image_tag 'works/interactive_minesweeper/02.jpg'
%p.image-container
  = image_tag 'works/interactive_minesweeper/03.jpg'
