---
title: 'Nobel Prizes from 1901 to 2014'
thumb: 'works/nobel_prizes_from_1901_to_2014/thumb.jpg'
date: 2015-01-06 09:03 UTC
ordinal: 1200
tags:
  - Infographic
---
%h1
  Nobel Prizes from 1901 to 2014
%p.image-container
  = image_tag 'works/nobel_prizes_from_1901_to_2014/01.jpg'
