---
title: '"Perpetual Motion Machine"'
date: 2015-01-06 06:57 UTC
ordinal: 100
thumb: works/perpetual_motion_machine/thumb.jpg
tags:
  - Craft
  - Video
---
%h1
  Perpetual Motion Machine
  %br/
  The Real-life Version of M.C.Escher's Waterfall (2011)
%p.video-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :src => "http://www.youtube.com/embed/wbi8-L-TJkA",
          :title => "YouTube video player"}
%p
  An electronic engineer and me created this waterfall perpetual machine – well, not really, but it certainly looks like one. It’s based on Escher’s Waterfall, but it is a real thing and water actually flows through it. We built it using 3D modeling and handcrafting, plus some electronic controls; and later, a companion article explaining how it’s done and all the science in it. 
%p.video-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :src => "http://www.youtube.com/embed/8leA2SWBzc0",
          :title => "YouTube video player"}
%p.image-container
  = image_tag 'works/perpetual_motion_machine/01.jpg'
%p.image-container
  = image_tag 'works/perpetual_motion_machine/02.jpg'
%p.image-container
  = image_tag 'works/perpetual_motion_machine/03.jpg'
%p
  It received half a million video views online, won the top prize of optical illusion from intrustables.com, and got a nice prize for us: a Makerbot 3D printer. To learn the entire making processing, visit
  =link_to 'http://www.instructables.com/id/Perpetual-Motion-Machine-The-real-life-version-of/', 'http://www.instructables.com/id/Perpetual-Motion-Machine-The-real-life-version-of/'
