---
title: 'Pictorial Keys to Zongzis Leaf Coat'
thumb: 'works/pictorial_keys_to_zongzis_leaf_coat/thumb.jpg'
date: 2015-01-06 09:04 UTC
ordinal: 1300
tags:
  - Infographic
---
%h1
  Pictorial Keys to Zongzis Leaf Coat
%p.image-container
  = image_tag 'works/pictorial_keys_to_zongzis_leaf_coat/01.jpg'
