---
title: 'The City in a Rush'
thumb: 'works/the_city_in_a_rush/thumb.jpg'
ordinal: 300
date: 2015-01-06 07:14 UTC
tags:
  - Photography
---
%h1
  The City in a Rush
%p.image-container
  = image_tag 'works/the_city_in_a_rush/01.jpg'
