---
title: onemancrew
---
#content
  %ul.works
    - blog.articles.sort { |l,r| l.data.ordinal.to_i - r.data.ordinal.to_i }.each do |work|
      %li.work
        = image_tag work.data.thumb, :alt => work.title
        .work-detail
          .work-title(class="#{'work-title-small' if work.title.length > 18} #{'work-title-tiny' if work.title.length > 28}")
            =link_to work.title, work.url, title: work.title
          .work-tags
            - work.tags.each do |tag|
              %span.work-tag>= tag
