---
title: Main Page
---
#content
  %ul.works
    - data.works.each do |work|
      %li.work
        = image_tag work.src, :alt => work.title
        .work-detail
          .work-title
            %span= work.title
          .work-related_links
            - work.related_links.each do |link|
              %span.work-related_link
                = link_to link.title, link.href
